.block_quizlet_iframepreview {border: 0;}

table.quizlet_form_table{
    border: 1px solid black;
    table-layout: fixed;
    width: 500px;
}
/*
td.quizlet_ID_col_0{
	text-align: center;
}
td.quizlet_ID_col_1{
	text-align: right;
}
td.quizlet_ID_col_2{
	text-align: left;
}
*/

td.quizlet_form_cell{
	border: 1px solid black;
}

th.quizlet_form_cell{
	border: 1px solid black;
	text-align: center;
}

input[type="button"].block_quizlet_previewbutton {
   float: left;
}

.badmessage {
    color: red;
}